body{
		background-color:#111; 
		text-align:center; 
		color:#eee;
    }
	 canvas{
           display:block;
            margin:0 auto ;	
		}
    #myButton {
	box-shadow: 1px 1px 15px 3px #8a2a21;
	background-color:#c62d1f;
	border-radius:20px;
	border:2px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:12px 25px;
	text-decoration:none;
	text-shadow:3px -3px 1px #810e05;
	margin:50px;
}
#myButton:hover {
	background-color:#f24437;
}
#myButton:active {
	position:relative;
	top:1px;
}
#myButton:disabled{
	background-color:black;
}
		   #score{
            display: inline-block;
        }
		
       #wynik{
            font-size: 25px;
            font-weight: bold;
            font-family: monospace;
            text-align: center;
			margin-top:100px;
        }
		
		#container
		{
			width:612px; 
			height:606px;
			text-align:center;
			margin-left:auto;
			margin-right:auto;
		}
		#blok{
		float:left;
		}
		
		#obok{
			display:block;
			float:left;
			margin:5px;
			width:300px;
			height:600px;
			align:center;
			margin:auto;
			
		}
		#klocek{
			margin-top:50px;
		}
		